.A{
    font-size: 1.5rem;
    text-align: center;
}
.sousuoA{
    
    width: 50%;
}
.sousuoB{
   
    width: 50%;
}
.shanchuB{
    height: 30px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.shanchuCc h5{
  text-align: right;
}