.A{
    background-color:white;
}
.caijingA{
    height: 50%;
    position: relative;
    float: left;
    margin-left: 0%;
    margin-top: 0%;
}
.aaa p{
    font-size: 40px;
   margin-left: 20%;
}
.caijingAa{
    background:white;
    width: 50%;
    float: left;
    height: 40%;
    margin:150px 0px 80px 100px;
    position: absolute;
    left: 60%;
    padding-left:5%; 
}
.aaa{
float: left;
width: 700px;
background:white;
}
.caijingAa a{
   float: left;
    align-items: inherit;
   justify-items: initial;
   display: block;
}

a:hover{
    color: aqua;
    text-decoration: underline;
}
h4{
    float: left;
    margin: 100px 0px 0px 79px;
    text-decoration: none;
}
h4 a{
    font-weight: bold;
    font-size: 20px;

   
}
ul li {
    line-height: 2.5em;
}